<!DOCTYPE html>
<html lang="en">
 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Zorak's Fortress</title>
  </head>
 
  <body>
 
    <nav class="top-navbar">
      <div class="left-items">
        <a href="game.html">Home</a>
        <a href="#">About</a>
      </div>
      <div class="center-items">
        <h1>Zorak's Fortress</h1>
      </div>
      <div class="right-items">
        <a href="#">Settings</a>
        <a href="#">How to Play</a>
      </div>
    </nav>
 
    <div class="main">
      <div class="frame">
        <div class="story">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nulla nec est suscipit bibendum. Integer auctor ligula eget semper facilisis.</p>
          <p>Quisque nec lorem vel neque cursus cursus. In hac habitasse platea dictumst. Proin eleifend cursus euismod.</p>
          <p>Nunc vitae ante vel nulla tincidunt eleifend non id enim. Maecenas ac turpis vel elit iaculis aliquam ut eget lectus.</p>
          <p>Vivamus elementum nunc id libero fringilla, vitae fermentum velit fermentum. Nam rhoncus enim eu quam bibendum, vel suscipit odio tincidunt.</p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vel risus vel nisi rhoncus finibus.</p>
          <p>Fusce malesuada erat ac ante convallis, at hendrerit dui cursus. Duis non ante ut nunc convallis laoreet. Nunc ac odio et leo facilisis dignissim.</p>
          <p>Integer vel sem sit amet nibh malesuada auctor. Nullam vel arcu nec libero finibus fringilla in non sem. Morbi bibendum, purus a tincidunt dignissim, metus enim lacinia dolor, ac tempor nisl nisl ac enim.</p>
          <p>Curabitur scelerisque justo in nunc tincidunt, vel malesuada nulla varius. Aliquam vel accumsan nisl, id pharetra turpis.</p>
          <p>Donec vel lectus eu ex consectetur sagittis sit amet in arcu. Curabitur auctor dolor sit amet enim pellentesque, nec vulputate arcu fermentum.</p>
          <p>Phasellus in quam nec dui cursus imperdiet vel eu turpis. Ut vestibulum, nunc vel rhoncus condimentum, neque justo dictum enim, in feugiat libero mauris sit amet augue.</p>
          <p>Quisque nec turpis vel arcu commodo consectetur vel in leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce laoreet fringilla arcu, ut pellentesque enim efficitur vel.</p>
          <p>Cras eu enim ac justo aliquam feugiat ac a dolor. Nam volutpat tristique nisl, sit amet egestas erat efficitur in.</p>
          <p>Maecenas tincidunt elit id vestibulum malesuada. Sed vel turpis id metus auctor vehicula. Fusce pulvinar libero eget ex imperdiet, ac malesuada eros bibendum.</p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec dapibus eros ac efficitur consequat. Morbi non justo at turpis vulputate hendrerit.</p>
          <p>Nulla ac mi eu metus aliquam iaculis. Sed in dolor sed augue gravida feugiat eu vitae ipsum. Aliquam quis facilisis orci.</p>
          <p>Phasellus interdum, turpis id interdum tempus, turpis dolor bibendum lectus, nec consectetur eros elit et ligula. Quisque tincidunt tortor in lectus hendrerit, at varius libero convallis.</p>
          <p>Curabitur sed metus a dolor tincidunt fermentum eu vitae metus. Suspendisse potenti. Sed commodo eros a velit egestas, at tristique dolor imperdiet.</p>
          <p>Proin ac hendrerit ligula, nec vestibulum lacus. Suspendisse feugiat a nunc et venenatis. Sed et tincidunt elit, ut interdum justo.</p>
          <p>Etiam feugiat dolor a risus rhoncus hendrerit. Integer laoreet tincidunt lectus nec fringilla. Vivamus tincidunt dictum efficitur.</p>
          <p>Quisque hendrerit, tortor ut auctor luctus, elit justo gravida purus, non euismod nunc quam vel justo. In nec fermentum sem.</p>
          <p>Nunc non mauris ac turpis suscipit bibendum. Integer scelerisque ante at risus scelerisque, vitae tincidunt arcu tristique.</p>
          <p>Donec at tincidunt sem. Fusce euismod orci eu est bibendum, id fringilla purus tempor. Aenean quis nisi vitae leo ultrices feugiat et sit amet velit.</p>
          <p>Maecenas at tortor ut elit malesuada venenatis eu vel erat. Proin nec ligula eget augue dictum ultricies. Nullam ullamcorper quam ac urna ultricies, a rhoncus libero congue.</p>
          <p>Integer vel sem sit amet nibh malesuada auctor. Nullam vel arcu nec libero finibus fringilla in non sem. Morbi bibendum, purus a tincidunt dignissim, metus enim lacinia dolor, ac tempor nisl nisl ac enim.</p>
          <p>Curabitur scelerisque justo in nunc tincidunt, vel malesuada nulla varius. Duis non ante ut nunc convallis laoreet. Nunc ac odio et leo facilisis dignissim.</p>
          <p>Integer vel sem sit amet nibh malesuada auctor. Nullam vel arcu nec libero finibus fringilla in non sem. Morbi bibendum, purus a tincidunt dignissim, metus enim lacinia dolor, ac tempor nisl nisl ac enim.</p>
          <p>Curabitur scelerisque justo in nunc tincidunt, vel malesuada nulla varius. Duis non ante ut nunc convallis laoreet. Nunc ac odio et leo facilisis dignissim.</p>
          <p>Integer vel sem sit amet nibh malesuada auctor. Nullam vel arcu nec libero finibus fringilla in non sem. Morbi bibendum, purus a tincidunt dign</p>
        </div>
        <form class="input">
          <label> > </label>
          <input type="text" name="command">
        </form>
      </div>
    </div>

      <nav class="bottom-navbar">
        <a href="game.html">Game</a>
        <a href="map.html">Map</a>
        <a href="notes.html">Notes</a>
      </nav>
   
    </body>
  </html>