{% extends "/base/base_bottom.html" %}

{% block title %}Zorak's Fortress{% endblock %}

{% block contents %}
<div class="frame">
    <div class="story">
        <h2>Welcome to Zorak's Fortress...</h2>
        <h3>༺✧─────•(𖡼𖤣𖥧𖡼𓋼𖤣↟𓍊✮𓍊↟𖤣𓋼𖡼𖥧𖤣𖡼)•─────✧༻</h3>
        <p>
            Embark on a journey in Zorak's Fortress, where your decisions shape 
            the narrative. Uncover a world of intrigue and challenges as you 
            navigate through this Interactive Fiction text adventure.
        </p>
        <h3>༺✧─────•(𖡼𖤣𖥧𖡼𓋼𖤣↟𓍊✮𓍊↟𖤣𓋼𖡼𖥧𖤣𖡼)•─────✧༻</h3>
        <p>
            Commands are always input in the imperative tense and input directly 
            into the command line at the bottom of this page, for example:
        </p>
        <h4>> go north</h4>
        <h4>> give apple to squirrel</h4>
        <p>
            More detail on how to play can be found in the 
            <a href="#">How to Play</a> menu.
        </p>
        <p>
            To embark on a new quest, simply type "<b>start</b>" into the command line. 
            Alternatively, revive past adventures by entering 
            "<b>restore&nbsp;[game_name]</b>"—for example:
        </p>
        <h4>> restore mysavedgame123</h4>
        <h3>༺✧─────•(𖡼𖤣𖥧𖡼𓋼𖤣↟𓍊✮𓍊↟𖤣𓋼𖡼𖥧𖤣𖡼)•─────✧༻</h3>
        <p>
            Venture forth and happy questing, hero. Remember to keep your wits 
            about you!...
        </p>
    </div>
    <form class="input">
        <label> > </label>
        <input type="text" name="command" autocomplete="off">
    </form>
</div>
{% endblock %}
