<!DOCTYPE html>
<html lang="en">
 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Zorak's Fortress</title>
  </head>
 
  <body>
 
    <nav class="top-navbar">
      <div class="left-items">
        <a href="game.html">Home</a>
        <a href="#">About</a>
      </div>
      <div class="center-items">
        <h1>NOTES</h1>
      </div>
      <div class="right-items">
        <a href="#">Settings</a>
        <a href="#">How to Play</a>
      </div>
    </nav>
 
    <div class="main">
      <div class="frame">
        <div contenteditable="true" class="notes" name="notes">Notes:</div>
      </div>
    </div>

      <nav class="bottom-navbar">
        <a href="game.html">Game</a>
        <a href="map.html">Map</a>
        <a href="notes.html">Notes</a>
      </nav>
   
    </body>
  </html>