* {
  box-sizing: border-box;
}

body {
  background-color: #a7d6ae;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

nav {
  background-color: #002e06;
  color: #16dd34;
  display: flex;
}

nav a {
  color: #a7d6ae;
  text-decoration: none;
}

.top-navbar {
  justify-content: space-between;
  /* Don't need rem here specifically, just what I often default to */
  padding-inline: 1rem;
}

.top-navbar > div {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.bottom-navbar {
  flex: 1;
  gap: 20vw;
  justify-content: center;
  padding-top: 1rem;
}

.main {
  display: grid;
  place-content: center;
}

.map, .frame {
  background-repeat: no-repeat;
  display: flex;
  margin: 1%;
  max-width: 110vh;
  padding: 0.9%;
  position: relative;
}

.map {
  background-image: url('../img/frame.png');
  background-size: contain;
}

.frame {
  background-image: url('../img/notes.png');
  background-size: 100% 100%;
  flex-direction: column;
  height: 85vh;
  width: 95vw;
  z-index: 1;
}
.story, .notes {
  height: 100%;
  margin-bottom: 0.3vw;
  overflow: auto;
  padding: 1.5vh;
  z-index: 1;
}

.notes {
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
  height: 100%;
  outline: none;
  padding: 2vw;
}

/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #6d482d;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #00b023;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.column img {
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 101.2%;
}

label {
  margin-bottom: -3vh;
  margin-left: max(-92vw, -107vh);
  z-index: 3;
}

input {
  background-color: #efe5d1;
  border: 0;
  border-bottom: 1rem solid #6d482d;
  margin-bottom: -1vw;
  margin-left: max(-1vw, -1.2vh);
  outline: none;
  padding: 0.5%;
  padding-left: 3%;
  font-size: 18px;
  transition: border-color 1s;
  width: 101%;
  z-index: 2;
}

input:focus {
  border-color: #00b023;
}