<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Zorak's Fortress</title>
  </head>

  <body>

    <nav class="top-navbar">
      <div class="left-items">
        <a href="#">Home</a>
        <a href="#">About</a>
      </div>
      <div class="center-items">
        <h1>MAP</h1>
      </div>
      <div class="right-items">
        <a href="#">Settings</a>
        <a href="#">How to Play</a>
      </div>
    </nav>

      <div class="main">
        <div class="frame">
          <img src="../static/img/mainframe.png" alt="Map">
        </div>
        <div class="map">
        
        </div>
        <form class="input">
          <input type="text" id="command" name="command">
        </form>
      </div>


    <nav class="bottom-navbar">
      <div class="center-items">
        <a href="#">Game</a>
        <a href="#">Map</a>
        <a href="#">Notes</a>
      </div>
    </nav>
    
  </body>
</html>