<!DOCTYPE html>
<html lang="en">
 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Zorak's Fortress</title>
  </head>
 
  <body>
 
    <nav class="top-navbar">
      <div class="left-items">
        <a href="game.html">Home</a>
        <a href="#">About</a>
      </div>
      <div class="center-items">
        <h1>MAP</h1>
      </div>
      <div class="right-items">
        <a href="#">Settings</a>
        <a href="#">How to Play</a>
      </div>
    </nav>
 
    <div class="main">
      <!-- <div class="frame">
        <img src="../static/img/frame.png" alt="Map">
      </div> -->
      <div class="map">
        <!--{% for col in map_cols %}-->
        <div class="column">
          <!--{% for img in cols %}-->
          <!-- <img src="../static/img/tiles/{{img}}.png"> -->
          <img src="../static/img/tiles/6b86b.png">
          <img src="../static/img/tiles/785f3.png">
          <img src="../static/img/tiles/44cb7.png">
          <img src="../static/img/tiles/a68b4.png">
          <img src="../static/img/tiles/b4944.png">
          <img src="../static/img/tiles/482d9.png">
          <img src="../static/img/tiles/922c7.png">
          <img src="../static/img/tiles/ec2e9.png">
          <img src="../static/img/tiles/f57e5.png">
          <img src="../static/img/tiles/23973.png">
          <img src="../static/img/tiles/09343.png">
          <img src="../static/img/tiles/835d5.png">
          <img src="../static/img/tiles/e7866.png">
          <img src="../static/img/tiles/71812.png">
          <img src="../static/img/tiles/9cfd3.png">
          <img src="../static/img/tiles/7a203.png">
          <!-- {% endfor %}-->
        </div>
        <!-- {% endfor %}-->
        <div class="column">
          <img src="../static/img/tiles/d4735.png">
          <img src="../static/img/tiles/535fa.png">
          <img src="../static/img/tiles/71ee4.png">
          <img src="../static/img/tiles/108c9.png">
          <img src="../static/img/tiles/434c9.png">
          <img src="../static/img/tiles/3346f.png">
          <img src="../static/img/tiles/2747b.png">
          <img src="../static/img/tiles/05ada.png">
          <img src="../static/img/tiles/734d0.png">
          <img src="../static/img/tiles/70260.png">
          <img src="../static/img/tiles/fa2b7.png">
          <img src="../static/img/tiles/c0509.png">
          <img src="../static/img/tiles/9512d.png">
          <img src="../static/img/tiles/3a1df.png">
          <img src="../static/img/tiles/a0f8b.png">
          <img src="../static/img/tiles/8d1ed.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/4e074.png">
          <img src="../static/img/tiles/c2356.png">
          <img src="../static/img/tiles/81178.png">
          <img src="../static/img/tiles/3ada9.png">
          <img src="../static/img/tiles/bdd2d.png">
          <img src="../static/img/tiles/9537f.png">
          <img src="../static/img/tiles/65662.png">
          <img src="../static/img/tiles/9ae2b.png">
          <img src="../static/img/tiles/284de.png">
          <img src="../static/img/tiles/eb3be.png">
          <img src="../static/img/tiles/d48ff.png">
          <img src="../static/img/tiles/114bd.png">
          <img src="../static/img/tiles/9556b.png">
          <img src="../static/img/tiles/c76b4.png">
          <img src="../static/img/tiles/4c15f.png">
          <img src="../static/img/tiles/aae02.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/4b227.png">
          <img src="../static/img/tiles/b7a56.png">
          <img src="../static/img/tiles/25fc0.png">
          <img src="../static/img/tiles/49d18.png">
          <img src="../static/img/tiles/8b940.png">
          <img src="../static/img/tiles/0fd42.png">
          <img src="../static/img/tiles/38d66.png">
          <img src="../static/img/tiles/8e612.png">
          <img src="../static/img/tiles/68519.png">
          <img src="../static/img/tiles/684fe.png">
          <img src="../static/img/tiles/802b9.png">
          <img src="../static/img/tiles/0a2d6.png">
          <img src="../static/img/tiles/51e8e.png">
          <img src="../static/img/tiles/27d71.png">
          <img src="../static/img/tiles/76ebd.png">
          <img src="../static/img/tiles/15609.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/ef2d1.png">
          <img src="../static/img/tiles/5f9c4.png">
          <img src="../static/img/tiles/31489.png">
          <img src="../static/img/tiles/a2185.png">
          <img src="../static/img/tiles/cd70b.png">
          <img src="../static/img/tiles/9bdb2.png">
          <img src="../static/img/tiles/eeca9.png">
          <img src="../static/img/tiles/04306.png">
          <img src="../static/img/tiles/4a859.png">
          <img src="../static/img/tiles/7559c.png">
          <img src="../static/img/tiles/d8658.png">
          <img src="../static/img/tiles/9a049.png">
          <img src="../static/img/tiles/4c970.png">
          <img src="../static/img/tiles/ee62d.png">
          <img src="../static/img/tiles/30883.png">
          <img src="../static/img/tiles/88820.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/e7f6c.png">
          <img src="../static/img/tiles/67067.png">
          <img src="../static/img/tiles/98010.png">
          <img src="../static/img/tiles/c75cb.png">
          <img src="../static/img/tiles/69f59.png">
          <img src="../static/img/tiles/f6e0a.png">
          <img src="../static/img/tiles/dbb1d.png">
          <img src="../static/img/tiles/620c9.png">
          <img src="../static/img/tiles/41e52.png">
          <img src="../static/img/tiles/1dfac.png">
          <img src="../static/img/tiles/0f412.png">
          <img src="../static/img/tiles/f0bc3.png">
          <img src="../static/img/tiles/a30f4.png">
          <img src="../static/img/tiles/efd96.png">
          <img src="../static/img/tiles/983bd.png">
          <img src="../static/img/tiles/8d23c.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/79026.png">
          <img src="../static/img/tiles/59e19.png">
          <img src="../static/img/tiles/0e17d.png">
          <img src="../static/img/tiles/ff5a1.png">
          <img src="../static/img/tiles/1da51.png">
          <img src="../static/img/tiles/b1556.png">
          <img src="../static/img/tiles/d2f48.png">
          <img src="../static/img/tiles/1d0eb.png">
          <img src="../static/img/tiles/dac53.png">
          <img src="../static/img/tiles/b4bbe.png">
          <img src="../static/img/tiles/16bad.png">
          <img src="../static/img/tiles/8ae4c.png">
          <img src="../static/img/tiles/7c252.png">
          <img src="../static/img/tiles/7f0a2.png">
          <img src="../static/img/tiles/c3ea9.png">
          <img src="../static/img/tiles/f10d9.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/2c624.png">
          <img src="../static/img/tiles/35135.png">
          <img src="../static/img/tiles/1a656.png">
          <img src="../static/img/tiles/7f225.png">
          <img src="../static/img/tiles/82416.png">
          <img src="../static/img/tiles/6c658.png">
          <img src="../static/img/tiles/5d389.png">
          <img src="../static/img/tiles/210e3.png">
          <img src="../static/img/tiles/cba28.png">
          <img src="../static/img/tiles/8bcbb.png">
          <img src="../static/img/tiles/5966a.png">
          <img src="../static/img/tiles/79bf0.png">
          <img src="../static/img/tiles/39bb8.png">
          <img src="../static/img/tiles/71a1c.png">
          <img src="../static/img/tiles/f3282.png">
          <img src="../static/img/tiles/3949a.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/19581.png">
          <img src="../static/img/tiles/624b6.png">
          <img src="../static/img/tiles/031b4.png">
          <img src="../static/img/tiles/87226.png">
          <img src="../static/img/tiles/6e400.png">
          <img src="../static/img/tiles/9f1f9.png">
          <img src="../static/img/tiles/13671.png">
          <img src="../static/img/tiles/0fecf.png">
          <img src="../static/img/tiles/8cd25.png">
          <img src="../static/img/tiles/a4e00.png">
          <img src="../static/img/tiles/314f0.png">
          <img src="../static/img/tiles/6af1f.png">
          <img src="../static/img/tiles/e888a.png">
          <img src="../static/img/tiles/27e16.png">
          <img src="../static/img/tiles/8bd9c.png">
          <img src="../static/img/tiles/1038e.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/4a44d.png">
          <img src="../static/img/tiles/eb1e3.png">
          <img src="../static/img/tiles/41cfc.png">
          <img src="../static/img/tiles/96061.png">
          <img src="../static/img/tiles/e3d6c.png">
          <img src="../static/img/tiles/28dae.png">
          <img src="../static/img/tiles/36ebe.png">
          <img src="../static/img/tiles/c75de.png">
          <img src="../static/img/tiles/01d54.png">
          <img src="../static/img/tiles/5a39c.png">
          <img src="../static/img/tiles/36790.png">
          <img src="../static/img/tiles/749fc.png">
          <img src="../static/img/tiles/9e6a7.png">
          <img src="../static/img/tiles/e0850.png">
          <img src="../static/img/tiles/d874e.png">
          <img src="../static/img/tiles/9e11c.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/4fc82.png">
          <img src="../static/img/tiles/e29c9.png">
          <img src="../static/img/tiles/2858d.png">
          <img src="../static/img/tiles/eb624.png">
          <img src="../static/img/tiles/ad48f.png">
          <img src="../static/img/tiles/e5b86.png">
          <img src="../static/img/tiles/d80ea.png">
          <img src="../static/img/tiles/7ed8f.png">
          <img src="../static/img/tiles/30684.png">
          <img src="../static/img/tiles/27bad.png">
          <img src="../static/img/tiles/67e9c.png">
          <img src="../static/img/tiles/14063.png">
          <img src="../static/img/tiles/4be84.png">
          <img src="../static/img/tiles/1e68e.png">
          <img src="../static/img/tiles/090d3.png">
          <img src="../static/img/tiles/a4e98.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/6b51d.png">
          <img src="../static/img/tiles/c6f3a.png">
          <img src="../static/img/tiles/2fca3.png">
          <img src="../static/img/tiles/f369c.png">
          <img src="../static/img/tiles/7b1a2.png">
          <img src="../static/img/tiles/2ac87.png">
          <img src="../static/img/tiles/d6a40.png">
          <img src="../static/img/tiles/ff2cc.png">
          <img src="../static/img/tiles/7b697.png">
          <img src="../static/img/tiles/43974.png">
          <img src="../static/img/tiles/9b871.png">
          <img src="../static/img/tiles/72440.png">
          <img src="../static/img/tiles/bba58.png">
          <img src="../static/img/tiles/a0d17.png">
          <img src="../static/img/tiles/38b83.png">
          <img src="../static/img/tiles/02cca.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/3fdba.png">
          <img src="../static/img/tiles/86e50.png">
          <img src="../static/img/tiles/02d20.png">
          <img src="../static/img/tiles/f74ef.png">
          <img src="../static/img/tiles/d6d82.png">
          <img src="../static/img/tiles/85daa.png">
          <img src="../static/img/tiles/8d27b.png">
          <img src="../static/img/tiles/a512d.png">
          <img src="../static/img/tiles/58081.png">
          <img src="../static/img/tiles/c17ed.png">
          <img src="../static/img/tiles/56f4d.png">
          <img src="../static/img/tiles/82c01.png">
          <img src="../static/img/tiles/768b8.png">
          <img src="../static/img/tiles/00328.png">
          <img src="../static/img/tiles/6d976.png">
          <img src="../static/img/tiles/24529.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/8527a.png">
          <img src="../static/img/tiles/9f140.png">
          <img src="../static/img/tiles/7688b.png">
          <img src="../static/img/tiles/a88a7.png">
          <img src="../static/img/tiles/29db0.png">
          <img src="../static/img/tiles/3038b.png">
          <img src="../static/img/tiles/dbae7.png">
          <img src="../static/img/tiles/bb668.png">
          <img src="../static/img/tiles/bfa76.png">
          <img src="../static/img/tiles/4621c.png">
          <img src="../static/img/tiles/84a50.png">
          <img src="../static/img/tiles/011af.png">
          <img src="../static/img/tiles/ea5b2.png">
          <img src="../static/img/tiles/d7cda.png">
          <img src="../static/img/tiles/48a17.png">
          <img src="../static/img/tiles/07919.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/e629f.png">
          <img src="../static/img/tiles/76a50.png">
          <img src="../static/img/tiles/c8376.png">
          <img src="../static/img/tiles/349c4.png">
          <img src="../static/img/tiles/8c1f1.png">
          <img src="../static/img/tiles/2abac.png">
          <img src="../static/img/tiles/2c7d5.png">
          <img src="../static/img/tiles/79d6e.png">
          <img src="../static/img/tiles/b8aed.png">
          <img src="../static/img/tiles/fc56d.png">
          <img src="../static/img/tiles/0e652.png">
          <img src="../static/img/tiles/37c20.png">
          <img src="../static/img/tiles/8acc2.png">
          <img src="../static/img/tiles/23c65.png">
          <img src="../static/img/tiles/43c72.png">
          <img src="../static/img/tiles/5426d.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/b17ef.png">
          <img src="../static/img/tiles/7a61b.png">
          <img src="../static/img/tiles/6208e.png">
          <img src="../static/img/tiles/98a3a.png">
          <img src="../static/img/tiles/ad573.png">
          <img src="../static/img/tiles/89aa1.png">
          <img src="../static/img/tiles/d4ee9.png">
          <img src="../static/img/tiles/3d328.png">
          <img src="../static/img/tiles/52f11.png">
          <img src="../static/img/tiles/f8809.png">
          <img src="../static/img/tiles/8f1f6.png">
          <img src="../static/img/tiles/396f8.png">
          <img src="../static/img/tiles/8b496.png">
          <img src="../static/img/tiles/af180.png">
          <img src="../static/img/tiles/226f7.png">
          <img src="../static/img/tiles/0bba8.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/45235.png">
          <img src="../static/img/tiles/aea92.png">
          <img src="../static/img/tiles/3e1e9.png">
          <img src="../static/img/tiles/48449.png">
          <img src="../static/img/tiles/16dc3.png">
          <img src="../static/img/tiles/1be00.png">
          <img src="../static/img/tiles/d6f0c.png">
          <img src="../static/img/tiles/3f980.png">
          <img src="../static/img/tiles/61a22.png">
          <img src="../static/img/tiles/5cf4e.png">
          <img src="../static/img/tiles/dfe62.png">
          <img src="../static/img/tiles/766cb.png">
          <img src="../static/img/tiles/f7478.png">
          <img src="../static/img/tiles/09895.png">
          <img src="../static/img/tiles/20e9c.png">
          <img src="../static/img/tiles/71047.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/4ec95.png">
          <img src="../static/img/tiles/0b918.png">
          <img src="../static/img/tiles/39fa9.png">
          <img src="../static/img/tiles/5316c.png">
          <img src="../static/img/tiles/37834.png">
          <img src="../static/img/tiles/a665a.png">
          <img src="../static/img/tiles/5ec1a.png">
          <img src="../static/img/tiles/bc52d.png">
          <img src="../static/img/tiles/28117.png">
          <img src="../static/img/tiles/96807.png">
          <img src="../static/img/tiles/9d693.png">
          <img src="../static/img/tiles/9f484.png">
          <img src="../static/img/tiles/d8d17.png">
          <img src="../static/img/tiles/33512.png">
          <img src="../static/img/tiles/86573.png">
          <img src="../static/img/tiles/556d7.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/9400f.png">
          <img src="../static/img/tiles/d59ec.png">
          <img src="../static/img/tiles/d029f.png">
          <img src="../static/img/tiles/a46e3.png">
          <img src="../static/img/tiles/454f6.png">
          <img src="../static/img/tiles/6affd.png">
          <img src="../static/img/tiles/be47a.png">
          <img src="../static/img/tiles/e0f05.png">
          <img src="../static/img/tiles/38b2d.png">
          <img src="../static/img/tiles/8df66.png">
          <img src="../static/img/tiles/08490.png">
          <img src="../static/img/tiles/1e472.png">
          <img src="../static/img/tiles/3635a.png">
          <img src="../static/img/tiles/6db6e.png">
          <img src="../static/img/tiles/8efbb.png">
          <img src="../static/img/tiles/058d5.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/f5ca3.png">
          <img src="../static/img/tiles/3d914.png">
          <img src="../static/img/tiles/81b8a.png">
          <img src="../static/img/tiles/bbb96.png">
          <img src="../static/img/tiles/5ef6f.png">
          <img src="../static/img/tiles/0f8ef.png">
          <img src="../static/img/tiles/0a5b0.png">
          <img src="../static/img/tiles/73d3f.png">
          <img src="../static/img/tiles/d6061.png">
          <img src="../static/img/tiles/83f81.png">
          <img src="../static/img/tiles/a0eae.png">
          <img src="../static/img/tiles/c75d3.png">
          <img src="../static/img/tiles/1c6c0.png">
          <img src="../static/img/tiles/7cb67.png">
          <img src="../static/img/tiles/74806.png">
          <img src="../static/img/tiles/7acc6.png">
        </div>
        <div class="column">
          <img src="../static/img/tiles/6f4b6.png">
          <img src="../static/img/tiles/73475.png">
          <img src="../static/img/tiles/da4ea.png">
          <img src="../static/img/tiles/44c80.png">
          <img src="../static/img/tiles/1253e.png">
          <img src="../static/img/tiles/65a69.png">
          <img src="../static/img/tiles/1d28c.png">
          <img src="../static/img/tiles/80c3c.png">
          <img src="../static/img/tiles/7045d.png">
          <img src="../static/img/tiles/d29d5.png">
          <img src="../static/img/tiles/138d9.png">
          <img src="../static/img/tiles/d6e5a.png">
          <img src="../static/img/tiles/303c8.png">
          <img src="../static/img/tiles/2cfc8.png">
          <img src="../static/img/tiles/377ad.png">
          <img src="../static/img/tiles/eaa06.png">
        </div>
 
      </div>
    </div>
 
 
    <nav class="bottom-navbar">
      <a href="game.html">Game</a>
      <a href="map.html">Map</a>
      <a href="notes.html">Notes</a>
    </nav>
 
  </body>
</html>