<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta name="description" content="Zorak's Fortress Text Adventure Game">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="../static/icon.ico" rel="icon">
    <!--<script src="/static/js/scripts.js"></script>-->
    <title>Zorak's Fortress</title>
  </head>

  <body>
    <nav class="top-navbar">
      <div class="left-items">
        <a href="/">Home</a>
        <a href="#">About</a>
      </div>
      <div class="center-items">
        <h1>{% block title %}{% endblock %}</h1>
      </div>
      <div class="right-items">
        <a href="#">Settings</a>
        <a href="#">How to Play</a>
      </div>
    </nav>

    <div class="main">
      {% block contents %}{% endblock %}
    </div>

    <nav class="bottom-navbar">
      <a href="/">Game</a>
      <a href="map">Map</a>
      <a href="notes">Notes</a>
    </nav>
  </body>